body {
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $red;
    display: grid;
    place-items: center;
}

main {
    display: grid;
    place-items: center;
    gap: 3rem;
    width: 90%;
    max-width: 1000px;
    margin: 4rem auto;
    color: #fff;
    text-align: center;
}

@media (min-width: 1000px) {
    body {
        background-image: url(../images/bg-intro-desktop.png);
    }
    
    main {        
        display: flex;
        justify-content: space-between;
    }       
}
