.form {
    display: grid;
    gap: 1.5rem;
    
    .form__tag {
        padding: 1rem 3rem; 
        border-radius: 10px;
        background-color: $blue; 
        box-shadow: 0 0.5em hsla(0, 0%, 0%, 0.15);
        
        span {
            font-weight: $fw-semi-bold;
        }                                
    }
    
    .form__container {        
        padding: 1.5rem;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0.5em hsla(0, 0%, 0%, 0.25);
        
        form {
            display: grid;
            gap: 1rem;            
            
            .inputBox {
                position: relative;                                          
                 
                input { 
                    font-weight: $fw-semi-bold;                           
                    color: $dark-blue; 
                    padding: 1em;              
                    border: 1px solid $grayish-blue;
                    border-radius: 5px;
                    width: 100%;                  
                                                                                                         
                    &:focus {
                        border: 1px solid $dark-blue;                                            
                    }  
                    
                    &::before {
                        content: "";
                        height: 24px;
                        width: 24px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background-image: url(../images/icon-error.svg);
                    }                                                           
                }
                
                .error-msg {
                    display: none;
                    font-size: $fs-small;
                    font-style: italic;
                    text-align: right;
                    color: $red;
                    margin-top: 0.5em;                    
                }  
                
                .success {
                    border-color: #38de44c7;
                }           
            
                .error {
                    border-color: darken($red, 10);
                }                           
            }                                                                                            
            
            .btn {
                font-size: $fs-medium;
                font-weight: $fw-medium;
                color: #fff;
                padding: 1em 2em; 
                border-radius: 5px;
                border-bottom: 4px solid hsla(0, 0%, 0%, 0.1);
                text-transform: uppercase;
                background-color: $green;
                transition: .3s;
                
                &:hover {
                    opacity: .6;
                }                
            }
            
            .form__footer {
                font-size: $fs-small;
                font-weight: $fw-medium;
                color: $grayish-blue;
                margin: 0 1em 1em;
            
                a {
                    font-weight: $fw-bold;
                    color: $red;
                }
            }
        }                
    }
}

