*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;  
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;  
}

a {
    text-decoration: none;
}

input:focus, button:focus, a:focus, {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}
